<div class="cont">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h3>Profesores</h3>
                <button (click)="abrirFormulario()" class="btn btn-primary ml-3">Crear</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>EDAD</th>
                        <th>IDENTIFICACION</th>
                        <th>ASIGNATURA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profesor of profesores">
                        <td> {{ profesor.nombres }} </td>
                        <td> {{ profesor.apellidos }} </td>
                        <td> {{ profesor.edad }} </td>
                        <td> {{ profesor.identificacion }} </td>
                        <td> {{ profesor.asignatura }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>