<div class="cont">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h3>Estudiantes</h3>
                <button (click)="abrirFormulario()" class="btn btn-primary ml-3">Crear</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>EDAD</th>
                        <th>TARJETA DE IDENTIDAD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantes">
                        <td> {{ estudiante.nombres }} </td>
                        <td> {{ estudiante.apellidos }} </td>
                        <td> {{ estudiante.edad }} </td>
                        <td> {{ estudiante.tarjeta_identidad }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>