    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear profesor</h4>
      <button (click)="CerrarModal()" class="btn btn-primary">X</button>
    </div>
    <div class="modal-body">        
        <form action="">
            <div class="form-group">
                <label for="">Nombres</label>
                <input type="text" class="form-control" [(ngModel)]="profesor.nombres" name="nombre">
            </div>
            <div class="form-group">
                <label for="">Apellidos</label>
                <input type="text" class="form-control" [(ngModel)]="profesor.apellidos" name="apellidos">
            </div>
            <div class="form-group">
                <label for="">Edad</label>
                <input type="number" class="form-control" [(ngModel)]="profesor.edad" name="edad" min="0">
            </div>
            <div class="form-group">
                <label for="">Identificacion</label>
                <input type="number" class="form-control" [(ngModel)]="profesor.identificacion" name="identificacion" min="0">
            </div>
            <div class="form-group">
                <label for="">Asignatura</label>
                <input type="text" class="form-control" [(ngModel)]="profesor.asignatura" name="asignatura">
            </div>
       </form>
    </div>
    <div class="modal-footer">
        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
    </div>