    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear estudiante</h4>
      <button (click)="CerrarModal()" class="btn btn-primary">X</button>
    </div>
    <div class="modal-body">        
        <form action="">
            <div class="form-group">
                <label for="">Nombres</label>
                <input type="text" class="form-control" [(ngModel)]="estudiante.nombres" name="nombre">
            </div>
            <div class="form-group">
                <label for="">Apellidos</label>
                <input type="text" class="form-control" [(ngModel)]="estudiante.apellidos" name="apellidos">
            </div>
            <div class="form-group">
                <label for="">Edad</label>
                <input type="number" class="form-control" [(ngModel)]="estudiante.edad" name="edad" min="0">
            </div>
            <div class="form-group">
                <label for="">Tarjeta de identidad</label>
                <input type="number" class="form-control" [(ngModel)]="estudiante.tarjeta_identidad" name="tarjeta_identidad" min="0">
            </div>
       </form>
    </div>
    <div class="modal-footer">
        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
    </div>